<div class="sidebar">
  <ul>
    <li><a routerLink="/albums" routerLinkActive="active">Albums</a></li>
    <li><a routerLink="/countries" routerLinkActive="active">Countries</a></li>
    <li><a routerLink="/singers" routerLinkActive="active">Singers</a></li>
    <li><a routerLink="/music-genre" routerLinkActive="active">Music Genre</a></li>
    <li><a routerLink="/songs" routerLinkActive="active">Songs</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
  </ul>
</div>
