<!-- table.component.html -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Country Name</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <td>{{ country.idCountry }}</td>
        <td>{{ country.countryName }}</td>
        <td>
          <button class="nuevo" (click)="addCountry()">Nuevo</button>
          <button class="editar"(click)="editCountry(country.idCountry)">Editar</button>
          <button class="borrar" (click)="deleteCountry(country.idCountry)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="previousPage()">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()">Next</button>
  </div>
  <div class="total-records">Total Records: {{ countries.length }}</div>
</div>
