html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex-grow: 1;
  height: 100vh; // Make sure the layout takes the full height
}

.mat-sidenav-container {
  height: 100%; // Ensure the sidenav container takes the full height
}

.mat-sidenav {
  width: 200px; // Set the width of the sidenav
}
